@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --primary-text-color: #111111;
  --secondary-text-color: #ffffff;
  --headline-color: #393939;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

form {
  display: grid;
  grid-auto-flow: row;
  font-family: var(--primary-font-family);
  margin-left: 2.25em;
}

h2 {
  color: var(--headline-color);
  font-size: 3.9em;
}

h3 {
  text-transform: uppercase;
}

.textentry {
  font-size: 3.9em;
  border: none;
  border-bottom: solid #342d2f 4px;
  padding-bottom: 0.5em;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
}

.radio {
  background-color: rgba(212, 212, 212, 0.1);
  display: flex;
  justify-content: space-around;
}

.radio-button {
  font-size: 1.25em;
  display: none;
}

.submit {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 1.75em;
  border: none;
  margin: 0;
}
